/* help - page styling */
.display-container {
  background-color: rgb(255, 255, 255);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 투명 배경 색상 */
}
.help {
  position: relative;
  margin-right: -20px;
  top: 75px;
  z-index: 300;
}
.helpTv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 860px;
  z-index: 1600;
}

/* help - hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: #f0a3a1;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 0rem 0.4rem rgb(172, 117, 117);
  text-align: center;
  cursor: pointer;
}

.background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: relative;
  top: 7px;
  right: 39px;
  /*background-image: radial-gradient(rgb(244, 227, 227), rgb(244, 227, 227));*/
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s;
  background-image: url("");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item {
  margin: 1rem;
  font-size: 36px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.helpvideo{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 900px;
}

/* 미디어쿼리 */
@media (max-width: 1299px) {
  /* help - page styling */
  .help {
    margin-right: -22px;
  }
  .helpTv {
    width: 760px;
  }
  /* help - hamburger */
  .button {
    height: 3rem;
    width: 3rem;
  }
  .background {
    height: 2rem;
    width: 2rem;
  }
  .helpvideo{
  width: 760px;
}
}

@media (max-width: 1199px) {
  .help {
    margin-right: 65px;
  }
  .helpvideo{
  width: 760px;
}
}
@media (max-width: 992px) {
  .help {
    margin-right: -45px;
  }
  .helpTv {
    width: 630px;
  }
  .helpvideo{
  width: 630px;
}
}
@media (max-width: 767px) {
  .helpTv {
    width: 458px;
  }
   .helpvideo{
  width: 458px;
}
}
@media (max-width: 570px) {
  .helpTv {
    width: 360px;
  }
   .helpvideo{
  width: 360px;
}
}
@media (max-width: 468px) {
  .helpTv {
    width: 300px;
  }
   .helpvideo{
  width: 300px;
}
}
