.display-container {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 860px;
  margin: 25px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
}
.area {
  overflow: hidden;
  background: linear-gradient(#fffdfb, #e9e7d9, #fffdfb);
  width: 1235px;
  height: 794px;
  border-radius: 10px;
}

.title {
  background-color: rgb(255, 255, 255);
  border-radius: 300px;
  padding: 30px;
  width: 900px;
  height: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.main-title {
  font-size: 60px;
  color: #a0c49d;
  text-shadow: 3px 2px 2px gray;
  position: relative;
  bottom: 32px;
}
.sub-tile {
  font-size: 24px;
  color: #a0c49d;
  position: absolute;
  left: 214px;
  top: 112px;
}
.radio {
  z-index: 3;
}
.radio img {
  position: relative;
  width: 270px;
  z-index: 3;
  margin-bottom: 20px;
}
.volume {
  width: 468px;
  position: absolute;
  left: 226px;
  top: 208px;
  margin-bottom: -33px;
}

.main-title {
  padding-top: 40px;
  font-size: 60px;
  color: #a0c49d;
  text-shadow: 3px 2px 2px gray;
}

header {
  display: flex;
  justify-content: center;
}
form {
  padding: 10px;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box > input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 40%;
}
input::placeholder {
  color: transparent;
}
input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}
input:focus + label,
label {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 255px;
  top: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}
input[type="submit"] {
  background-color: #8aa1a1;
  border: none;
  color: white;
  border-radius: 20px;
  width: 40%;
  height: 50px;
  font-size: 14pt;
  margin-top: 30px;
  margin-left: 25px;
}
#forgot {
  text-align: center;
  font-size: 12pt;
  color: rgb(164, 164, 164);
  margin: 10px 0px 18px;
  position: relative;
  left: 119px;
  margin-bottom: 30px;
}
#join {
  font-size: 12pt;
  color: rgb(164, 164, 164);
  margin: 10px 0px;
}
.bttn {
  color: white;
  border-radius: 10px;
  font-size: 23px;
  width: 270px;
  height: 120px;
  font-size: 14pt;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.bttn :nth-child(1) {
  background-color: #e06864;
  border: solid 2px black;
  margin-top: 10px;
  box-shadow: 3px 2px 2px rgb(156, 156, 156);
}
.bttn :nth-child(2) {
  background-color: #2a8eb5;
  border: solid 2px black;
  box-shadow: 3px 2px 2px rgb(156, 156, 156);
}

/* waterDrop */
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
