.input-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 630px;
  width: 700px;
  color: rgb(61, 30, 30);
  bottom: 0;
  border: 1px solid black;
  background-color: #eaebf0;
  display: none;
}

.hr-modal {
  border: 3px dotted #8aa1a1;
  width: 500px;
  position: absolute;
  top: 143px;
}
#modal .close-area {
  font-size: 30px;
  display: inline;
  margin-left: 670px;
  color: white;
}
.top-color {
  background-color: #8aa1a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 13px;
  position: relative;
}
.radio {
  z-index: 3;
}
.radio img {
  height: 160px;
  position: relative;
  top: 5px;
}
.info {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 40px;
  height: 380px;
  width: 550px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(206, 206, 206);
  position: relative;
  bottom: 30px;
}
.info-title {
  font-size: 24px;
  margin-top: 40px;
}
.sender {
  color: #818181;
  font-size: 20px;
}
audio {
  width: 330px;
  height: 60px;
  position: relative;
  bottom: 18px;
  margin-bottom: 13px;
  z-index: 1;
}

.musicNote {
  position: absolute;
  height: 200px;
  right: 20px;
  top: 32px;
  margin-left: 23px;
  z-index: -1;
  color: #ec7580;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 투명 배경 색상 */
  z-index: 1000; /* 모달 창보다 뒤에 위치하도록 설정 */
  display: none; /* 기본적으로 보이지 않게 설정 */
}
.btn {
  position: absolute;
  bottom: -68px;
}
.message {
  background-color: #f0a3a1;
  color: white;
  padding: 6px;
  position: relative;
  bottom: 6px;
  z-index: 10;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid rgb(137, 137, 137);
  box-shadow: 3px 2px 2px rgb(206, 206, 206);
}

#stopButton {
  background-color: #f0a3a1;
  color: white;
  padding: 6px;
  position: relative;
  bottom: 6px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(137, 137, 137);
  box-shadow: 3px 2px 2px rgb(206, 206, 206);
}
.message:hover {
  background-color: #8aa1a1;
}
#stopButton:hover {
  background-color: #8aa1a1;
}
.sentance {
  height: 240px;
  width: 500px;
  margin-bottom: 10px;
  overflow: auto;
  z-index: 3;
}
.sentance p {
  padding: 13px;
}
/* 스크롤바 */
.sentance::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sentance::-webkit-scrollbar-thumb {
  background: #f0a3a1; /* 스크롤바 막대 색상 */
  border: 1px solid #cecece; /* 스크롤바 막대 테두리 설정  */
  border-radius: 320px;
  background-clip: padding-box;
}
.sentance::-webkit-scrollbar-track {
  background: #cecece; /* 스크롤바 뒷 배경 색상 */
  border-radius: 320px;
}
