.input-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 600px;
  width: 700px;
  color: rgb(61, 30, 30);
  bottom: 0;
  border: 1px solid black;
  background-color: #eaebf0;
  display: none;
}
.hr-top {
  border: 1px solid black;
  margin-top: -2px;
}
.hr-bottom {
  border: 1px dotted black;
  width: 530px;
  position: absolute;
  top: 150px;
}
#modal .close-area {
  font-size: 30px;
  display: inline;
  margin-left: 670px;
  color: white;
}
.top-color {
  background-color: #8aa1a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 13px;
  position: relative;
}
.radio {
  z-index: 3;
}
.radio img {
  height: 160px;
  position: relative;
  top: 5px;
}
.info {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 40px;
  height: 380px;
  width: 550px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(206, 206, 206);
  position: relative;
  bottom: 30px;
}
.title {
  font-size: 24px;
  margin-top: 40px;
}
.sender {
  color: #818181;
  font-size: 20px;
}
audio {
  width: 330px;
  margin-bottom: 13px;
}
.musicNote {
  position: absolute;
  height: 200px;
  right: 20px;
  top: 50px;
  z-index: 3;
  color: #ec7580;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 투명 배경 색상 */
  z-index: 1000; /* 모달 창보다 뒤에 위치하도록 설정 */
  display: none; /* 기본적으로 보이지 않게 설정 */
}
