.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 950px;
  margin: 25px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.page {
  background-color: #eeeeee;
  border-radius: 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  padding: 15px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0.1;
}

.content-title {
  display: flex;
  align-items: center;
}

.content-title-name {
  font-size: 30px;
  padding-bottom: 20px;
}

.content-title-url {
  flex: 1;
  font-size: 0.5rem;
  text-align: end;
}
.tape-shelf-box {
  position: absolute;
  background-color: white;
  border-radius: 9px;
  border: 1px solid #adadad;
  top: 80px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.tape-shelf {
  position: relative;
}

.tape img {
  height: 182px;
  position: relative;
  top: 40px;
  z-index: 100;
}
.shelf img {
  height: 62px;
}

.open-radio img {
  height: 230px;
  position: relative;
  top: 530px;
}
.sharing {
  font-size: 30px;
  margin-right: 30px;
}
hr {
  border: none;
  border-top: 3px dotted #2392b4;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 90%;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 530px;
}
.next-bttn img {
  position: absolute;
  left: 1079px;
  height: 190px;
}
.back-bttn img {
  position: relative;
  right: 46px;
  height: 190px;
}
/*share button*/
.share-container {
  position: fixed;
  bottom: 32px;
  margin-left: 10px;
  z-index: 10;
}
.share-btn {
  position: relative;
  border: none;
  background: #fff;
  color: #f0a3a1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 25px;
  padding-right: 3px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0rem 0.4rem rgb(172, 117, 117);
}

.share-options {
  position: absolute;
  width: auto;
  height: auto;
  transform-origin: bottom left;
  transform: scale(0);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #6c353573;
  bottom: 50%;
  left: 50%;
  color: #fff;
  padding: 20px;
  font-family: "roboto";
  transition: 0.5s;
  transition-delay: 0.5s;
}

.share-options.active {
  transform: scale(1);
  transition-delay: 0s;
}

.title {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  font-size: 26px;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding: 0 20px 3px 0;
}

.link-container {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
}
.bi-share-fill {
  font-size: 30px;
  margin-right: 6px;
}
.link {
  width: 80%;
  height: 100%;
  line-height: 55px;
  color: #f0a3a1;
}

.copy-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #f0a3a1;
  color: #fff;
  border: none;
  height: 100%;
  width: 25%;
  text-transform: capitalize;
  font-size: 19px;
}

.share-options.active .title,
.share-options.active .social-media,
.share-options.active .link-container {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}
