.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 950px;
  margin: 25px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.page {
  background-color: #eeeeee;
  border-radius: 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  padding: 15px;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0.1;
}

.content-title {
  display: flex;
  align-items: center;
}

.content-title-name {
  font-size: 30px;
  padding-bottom: 20px;
}

.content-title-url {
  flex: 1;
  font-size: 0.5rem; /* 적용한 폰트 특성 상 사이즈가 커서 font-size 조정 */
  text-align: end; /* 텍스트 우측 정렬 */
}
.tape-shelf-box {
  position: absolute;
  background-color: white;
  border-radius: 9px;
  border: 1px solid #adadad;
  top: 80px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.tape-shelf {
  position: relative;
}

.tape img {
  height: 182px;
  position: relative;
  top: 40px;
  z-index: 1;
}
.shelf img {
  height: 62px;
}

.open-radio img {
  height: 230px;
  position: relative;
  top: 530px;
}
.sharing {
  font-size: 30px;
  margin-right: 30px;
}
hr {
  border: none;
  border-top: 3px dotted #2392b4;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 90%;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 530px;
}
.next-bttn img {
  position: absolute;
  left: 1079px;
  height: 190px;
}
.back-bttn img {
  position: relative;
  right: 46px;
  height: 190px;
}
