body {
  min-height: 100vh;
  line-height: 20px;
}

.container {
  min-width: 960px;
  margin-top: -70px;
}
.bookcover {
  background-color: rgb(45, 45, 45);
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 828px;
  margin: 50px auto;
  position: relative;
  box-shadow: 5px 5px 5px 5px gray;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.page {
  background-color: #eeeeee;
  border-radius: 9px;
  position: absolute;
  top: 10px;
  left: 16px;
  right: 16px;
  bottom: 10px;
  display: flex;
  padding: 15px;
}

.radio_bttn {
  position: absolute;
  z-index: -1;
}
.radio_bttn img:nth-child(-n + 2) {
  width: 60px;
  position: relative;
  left: 922px;
  bottom: 12px;
}
.radio_bttn img:nth-child(3) {
  width: 60px;
  position: relative;
  left: 925px;
}
.writingBttn {
  margin: 3px 30px 0 0;
}
.radio-bg {
  position: absolute;
  left: 151px;
  top: 148px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
}
.radio-bg img {
  opacity: 0.5;
  width: 289px;
  height: 200px;
}
.top-radio {
  margin-bottom: 94px;
}
.content-title {
  display: flex;
  align-items: center;
}

.content-title-name {
  font-size: 30px;
  padding: 40px 0 40px;
  margin-right: 30px;
}
.list {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
  background-image: url("../source/img/paper_bg.jpg");
  border-radius: 9px;
  border: 1px solid #adadad;
}

.item .img {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.item .img img {
  height: 200px;
  margin-top: -10px;
  transition: 0.5s;
  z-index: 100;
}
.item .content {
  padding: 0px 20px 0px 20px;
  margin-bottom: -10px;
}

.tape {
  z-index: 1;
}
.item:hover img {
  transform: translate(0, -50px);
  cursor: pointer;
}

.listPage {
  padding: 22px 10px;
  text-align: center;
  list-style: none;
}
.listPage li {
  background-color: #ffffffbd;
  padding: 15px 20px 15px 20px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
}
.listPage .active {
  background-color: #1d1925;
  color: #fff;
}

/*---------share button---------*/
.share-container {
  position: fixed;
  bottom: 32px;
  margin-left: 30px;
  z-index: 103;
}
.share-btn {
  position: relative;
  border: none;
  background: #fff;
  color: #f0a3a1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 25px;
  padding-right: 3px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0rem 0.4rem rgb(172, 117, 117);
}

.share-options {
  position: absolute;
  width: auto;
  height: auto;
  transform-origin: bottom left;
  transform: scale(0);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(194, 146, 146, 0.8);
  width: 330px;
  bottom: 50%;
  left: 50%;
  color: #ffffff;
  padding: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.share-options.active {
  transform: scale(1);
  transition-delay: 0s;
}

.title {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  font-size: 26px;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding: 0 20px 3px 0;
}

.link-container {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
}
.bi-share-fill {
  font-size: 30px;
  margin-right: 6px;
}
.link {
  width: 80%;
  height: 100%;
  line-height: 55px;
  color: #f0a3a1;
}

.copy-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #f0a3a1;
  color: #fff;
  border: none;
  height: 100%;
  width: 25%;
  text-transform: capitalize;
  font-size: 19px;
}
.copy-btn a {
  text-decoration: none;
  color: white;
}

.share-options.active .title,
.share-options.active .social-media,
.share-options.active .link-container {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}

/* modal */
.input-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 630px;
  width: 700px;
  color: rgb(61, 30, 30);
  bottom: 0;
  border: 1px solid black;
  background-color: #eaebf0;
  display: none;
}

.hr-modal {
  border: 3px dotted #8aa1a1;
  width: 500px;
  position: absolute;
  top: 87px;
}
#modal .close-area {
  font-size: 30px;
  display: inline;
  margin-left: 670px;
  color: white;
  cursor: pointer;
}
.top-color {
  background-color: #8aa1a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 13px;
  padding-top: 11px;
  position: relative;
}
.radio {
  z-index: 3;
}
.radio img {
  height: 160px;
  position: relative;
  top: 5px;
}
.info {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 40px;
  height: 380px;
  width: 550px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(206, 206, 206);
  position: relative;
  bottom: 30px;
}
.info-title {
  font-size: 24px;
  margin-top: 40px;
}
.sender {
  color: #818181;
  font-size: 20px;
}
audio {
  width: 330px;
  height: 60px;
  position: relative;
  bottom: 18px;
  margin-bottom: 13px;
  z-index: 1;
}

.musicNote {
  position: absolute;
  height: 200px;
  right: 20px;
  top: 22px;
  margin-left: 23px;
  z-index: -1;
  color: #ec7580;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none; /* 기본적으로 보이지 않게 설정 */
}
.btn {
  position: absolute;
  bottom: -68px;
}
.message {
  background-color: #f0a3a1;
  color: white;
  padding: 6px;
  position: relative;
  bottom: 6px;
  z-index: 10;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid rgb(137, 137, 137);
  box-shadow: 3px 2px 2px rgb(206, 206, 206);
}

#stopButton {
  background-color: #f0a3a1;
  color: white;
  padding: 6px;
  position: relative;
  bottom: 6px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(137, 137, 137);
  box-shadow: 3px 2px 2px rgb(206, 206, 206);
}
.message:hover {
  background-color: #8aa1a1;
}
#stopButton:hover {
  background-color: #8aa1a1;
}
.sentance {
  height: 240px;
  width: 500px;
  margin-bottom: 10px;
  overflow: auto;
  z-index: 3;
}
.sentance p {
  padding: 13px;
}
/* 스크롤바 */
.sentance::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sentance::-webkit-scrollbar-thumb {
  background: #f0a3a1; /* 스크롤바 막대 색상 */
  border: 1px solid #cecece; /* 스크롤바 막대 테두리 설정  */
  border-radius: 320px;
  background-clip: padding-box;
}
.sentance::-webkit-scrollbar-track {
  background: #cecece; /* 스크롤바 뒷 배경 색상 */
  border-radius: 320px;
}
