.display-container {
  overflow: hidden;
}
.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 790px;
  margin: 25px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.page {
  position: relative;
  background-color: #ffffff;
  border-radius: 9px;
  height: 721px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.page > img {
  height: 180px;
  position: absolute;
  z-index: 2;
  top: 30px;
}
.input-box {
  position: relative;
  border-radius: 9px;
  height: 400px;
  width: 800px;
  color: white;
  bottom: 0;
  margin-top: 100px;
  box-shadow: 5px 5px 5px 5px gray;
  border: 1px solid black;
}
hr {
  border: 1px solid black;
  margin-top: 60px;
}
