.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #86737d;
  width: 1300px;
  height: 750px;
  margin: 25px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
