.display-container {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1100px;
}

.main-title {
  padding-top: 130px;

  font-size: 60px;
  color: #a0c49d;
  text-shadow: 3px 2px 2px gray;
}
.sub-tile {
  font-size: 24px;
  color: #a0c49d;
  padding-bottom: 50px;
  margin-bottom: -70px;
}
.heart_json {
  height: 200px;
  margin-bottom: -20px;
}
header {
  display: flex;
  justify-content: center;
}
form {
  padding: 10px;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box > input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 0px 5px 0px;
  font-size: 14pt;
  width: 40%;
}
input::placeholder {
  color: transparent;
}
input:placeholder-shown + label {
  color: #aaa;
  font-size: 14pt;
  top: 15px;
}
input:focus + label,
label {
  color: #8aa1a1;
  font-size: 10pt;
  pointer-events: none;
  position: absolute;
  left: 330px;
  top: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #8aa1a1;
  outline: none;
}
input[type="submit"] {
  background-color: #8aa1a1;
  border: none;
  color: white;
  border-radius: 20px;
  width: 40%;
  height: 50px;
  font-size: 14pt;
  margin-top: 30px;
  margin-left: 25px;
}
#forgot {
  text-align: center;
  font-size: 12pt;
  color: rgb(164, 164, 164);
  margin: 10px 0px;
}
#join {
  font-size: 12pt;
  color: rgb(164, 164, 164);
  margin: 10px 0px;
}
