body {
  background-image: linear-gradient(to top right, #cc64a2, #5c3075);
  min-height: 100vh;
  line-height: 20px;
}
.container {
  width: 900px;
  margin: 150px auto 0;
}
.list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
}
.item .img img {
  height: 200px;
  transition: 0.5s;
}
.item .img {
  background-image: linear-gradient(to top right, #d89cd1, #d499d4);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}
.item .content {
  background-color: #ffffff24;
  border-radius: 30px;
  padding: 50px 30px;
}
.title {
  font-size: x-large;
}
.item .content .des {
  opacity: 0.7;
  margin: 10px 0;
}
.item .content .price {
  font-size: large;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.item .content .add {
  background-color: #b192ef;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 30px;
}
.item:hover img {
  transform: translate(0, -50px);
}
.listPage {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.listPage li {
  background-color: #ffffffbd;
  padding: 20px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.listPage .active {
  background-color: #b192ef;
  color: #fff;
}
